labview_data/*
./Lab28/XeMassCalc/NistData/*
*.cgi
*.txt
*.root
*.tar.gz
*.png
*.csv
*.tar
*.h5
*.tsv
./Ext_src_cal/data/*
Lab028\osci\data\*
C:/Users/jasonbane/Desktop/nexo_code/nexo/Lab028/osci/data/waveforms